*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
}




.footer-container{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(14, 47, 50) 0%, rgb(38, 82, 114) 100%);
    align-items: center;
}
    
.footer-container div{
    text-align: center;
    color: white;
    width: 145px;
    margin: 20px;
}

.footer-container div:hover{
    cursor: pointer;
}
